.firstResponderContainer {
  @include flex-display(column, center, normal);

  .historyFRTable {
    @include flex-display(row, center, normal);

    .callHistory {
      padding: 0px 20px;
      width: 100%;
    }

    .data-grid-container {
      width: 100%;
      height: 300px;

      .MuiDataGrid-cell--textLeft {
        justify-content: center;
      }

      .MuiDataGrid-columnHeaderTitleContainer {
        justify-content: center;
      }
    }
  }
}

.form-map-container {
  @include flex-display(row, space-between, normal);
}
